/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    height: 100px;
    background-color: lightskyblue;
}

.menu-banner {
    display: flex;
    justify-content: space-between;
    width: 80%;     
    align-items: center;
    padding: 10px;
    /* DEBUG */
    height: 30px;
    background-color: orange;
}

.header-nav ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}


/* MAIN */

.section-1 {
    display: flex;
    /* Debug */
    background-color: blue;
    height: 400px;
    justify-content: center;
    align-items: center;
   
}

.intro-section {
    width: 400px;
    height: 200px;
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-2 {
    display: flex;
    /* Debug */
    height: 400px;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
 
}

.blue-square {
    display: flex;
    /* Debug */
    background-color: lightskyblue;
    height: 300px;
    width: 800px;
    justify-content: center;
    align-items:flex-start;
}

.rose-square {
    display: flex;
    /* Debug */
    background-color: lightsalmon;
    height: 300px;
    width: 500px;
    justify-content: center;
}


.container-section-2 {
    display: flex;
    width: 80%;
}



/* UTILITIES */

